<a href="https://colab.research.google.com/github/mteoraso/mteoraso/blob/main/EDA_accidentes_viales_medellin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
import numpy as np

In [16]:
df = pd.read_csv('/content/mede_victimas_inci.csv', sep=';')

<ipython-input-16-09c13f41254c>:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,11,12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/mede_victimas_inci.csv', sep=';')

In [17]:
df

,Gravedad_victima,Fecha_incidente,Hora_incidente,Clase_incidente,Direccion_incidente,Sexo,Edad,Condicion,Mes,Dia,Num_dia,Hora,Grupo_edad,Año,Radicado,Latitud,Longitud,Comuna,Barrio
0,Heridos,1/01/2014,00:15:00,Otro,CR 49 CL 72,M,17,Motociclista,Ene,Mié,1.0,0,10 - 19,2014.0,1423940,"6,26691466","-75,5590994",04 - Aranjuez,Manrique Central No. 1
1,Heridos,1/01/2014,00:30:00,Atropello,CR 46 CL 98,M,20,Motociclista,Ene,Mié,1.0,0,20 - 29,2014.0,1423921,"6,289353458","-75,55329197",01 - Popular,Moscú No. 2
2,Heridos,1/01/2014,00:30:00,Atropello,CR 46 CL 98,F,18,Peatón,Ene,Mié,1.0,0,10 - 19,2014.0,1423921,"6,289353458","-75,55329197",01 - Popular,Moscú No. 2
3,Heridos,1/01/2014,00:37:00,Atropello,CL 32 CR 84,M,19,Motociclista,Ene,Mié,1.0,0,10 - 19,2014.0,1423849,"6,234327372","-75,60761079",16 - Belén,Las Mercedes
4,Heridos,1/01/2014,00:37:00,Atropello,CL 32 CR 84,M,39,Peatón,Ene,Mié,1.0,0,30 - 39,2014.0,1423849,"6,234327372","-75,60761079",16 - Belén,Las Mercedes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.groupby("Comuna").size()

Comuna
01 - Popular                                        4448
02 - Santa Cruz                                     3750
03 - Manrique                                       9421
04 - Aranjuez                                      14534
05 - Castilla                                      22883
06 - Doce de Octubre                                8189
07 - Robledo                                       16693
08 - Villa Hermosa                                  7713
09 - Buenos Aires                                   9432
10 - La Candelaria                                 36985
11 - Laureles Estadio                              19922
12 - La América                                     6800
13 - San Javier                                     5014
14 - El Poblado                                    12245
15 - Guayabal                                      14391
16 - Belén                                         13643
50 - Corregimiento de San Sebastián de Palmitas       27
60 - Corregimiento de San Cristóbal                 3094
70 - Corregimiento de Altavista                      717
80 - Corregimiento de San Antonio de Prado          3602
90 - Corregimiento de Santa Elena                    614
Sin Inf                                            21726
dtype: int64

In [22]:
df.groupby("Sexo").size()

Sexo
F           71763
M          161603
Sin Inf      2223
Sin inf       254
dtype: int64

In [29]:
df.groupby("Año").size()

Año
2014.0    31411
2015.0    32622
2016.0    33791
2017.0    31658
2018.0    29082
2019.0    31876
2020.0    23676
2021.0    21727
dtype: int64

In [38]:
df.groupby(["Año", "Comuna"]).size()

Año     Comuna
2014.0  01 - Popular                                   615
        02 - Santa Cruz                                575
        03 - Manrique                                 1419
        04 - Aranjuez                                 1854
        05 - Castilla                                 2915
                                                      ...
2021.0  60 - Corregimiento de San Cristóbal            312
        70 - Corregimiento de Altavista                 55
        80 - Corregimiento de San Antonio de Prado     193
        90 - Corregimiento de Santa Elena               61
        Sin Inf                                       2787
Length: 175, dtype: int64

In [60]:
df.groupby(["Año", "Sexo"]).size()

Año     Sexo
2014.0  F           9214
        M          21887
        Sin Inf      310
2015.0  F          10359
        M          22260
        Sin Inf        3
2016.0  F          10663
        M          23109
        Sin Inf       19
2017.0  F          10097
        M          21455
        Sin Inf      106
2018.0  F           9161
        M          19673
        Sin Inf      248
2019.0  F           9373
        M          22106
        Sin Inf      397
2020.0  F           6242
        M          16883
        Sin Inf      551
2021.0  F           6654
        M          14230
        Sin Inf      589
        Sin inf      254
dtype: int64

In [61]:
df.groupby(["Condicion", "Gravedad_victima"]).size()

Condicion                   Gravedad_victima
Acompañante de Motocicleta  Heridos              28773
                            Muertos                129
Acompañante de motocicleta  Heridos               7228
                            Muertos                 29
Ciclista                    Heridos               5309
                            Muertos                 96
Conductor                   Heridos               6154
                            Muertos                 39
Motociclista                Heridos             141442
                            Muertos                725
Pasajero                    Heridos              13483
                            Muertos                 41
Peatón                      Heridos              31505
                            Muertos                890
dtype: int64

In [40]:
df.groupby("Gravedad_victima").size()

Gravedad_victima
Heridos    233894
Muertos      1949
dtype: int64

In [63]:
df.groupby("Gravedad_victima").agg({"Edad":np.nanmean})

TypeError: ignored

In [41]:
df.groupby("Clase_incidente").size()

Clase_incidente
Atropello          39455
Caida Ocupante     35098
Choque            103383
Incendio              24
Otro               41162
Volcamiento        16721
dtype: int64